Makefile
TurboParser
TurboTagger
autom4te.cache
compile
config.h
config.log
config.status
deps/AD3-2.0.2/
deps/gflags-2.0/
deps/glog-0.3.2/
deps/googletest/
deps/eigen-eigen-c58038c56923/
deps/local/
data_local/
ner/
*.o
*.obj
*.tlog
stamp-h1
.deps
vsprojects/*.suo
vsprojects/*.user
vsprojects/*.userosscache
vsprojects/*.sln.docstates
vsprojects/*.aps
vsprojects/*.ncb
vsprojects/*.opendb
vsprojects/*.VC.db
vsprojects/*.opensdf
vsprojects/*.sdf
vsprojects/*.cachefile
vsprojects/*.psess
vsprojects/*.vsp
vsprojects/*.vspx
vsprojects/*/*.vcxproj.user
vsprojects/*/*.vcxproj.filters
vsprojects/*/x64
vsprojects/x64/*
vsprojects/*/Debug
vsprojects/Debug/*
vsprojects/*/Release
vsprojects/Release/*
/python/tokenizers/portuguese/__pycache__
/python/__pycache__
/python/cython_debug
/python/build
/python/tokenizers/__pycache__
/python/turboparser.cp35-win_amd64.pyd
/python/turboparser.cp35-win_amd64.pdb
/python/vc140.pdb
/python/turboparser.cpp
/python/test2.py
