Makefile
TurboParser
TurboTagger
autom4te.cache
compile
config.h
config.log
config.status
deps/AD3-2.0.2/
deps/gflags-2.0/
deps/glog-0.3.2/
deps/googletest/
deps/eigen-eigen-c58038c56923/
deps/local/
data_local/
ner/
*.o
*.obj
*.tlog
stamp-h1
.deps
vsprojects/*/x64
vsprojects/x64/*
vsprojects/*/Debug
vsprojects/Debug/*
vsprojects/*/Release
vsprojects/Release/*
vsprojects/*/*.vcxproj.user
vsprojects/*/*.vcxproj.filters
vsprojects/*.sdf
vsprojects/*.opensdf