
PT
splitter="tokenizers/punkt/portuguese.pickle"
tagger="/opt/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_tagger.model"
parser="/opt/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_parser_pruned-true_model-standard.model"
lemmatizer="/opt/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_lemmatizer.model"

ES
splitter="tokenizers/punkt/spanish.pickle"
tagger="/opt/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_tagger.model"
entity_recognizer="/opt/TurboParser/ner/models/spanish/spanish_entity_recognizer.model"
parser="/opt/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_parser_pruned-true_model-standard.model"
semantic_parser="/opt/TurboParser/srl/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_semantic_parser_conll2008_pruned-false_model-basic_syntax-true_C-0.01_fp-0.4_fn-0.6.model"
coreference_resolver="/opt/TurboParser/coreference_resolver/models/spanish/spanish_coreference_resolver.model"
lemmatizer="/opt/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_lemmatizer.model"

EN
splitter="tokenizers/punkt/english.pickle"
tagger="/opt/TurboParser/models/english_proj/english_proj_tagger.model"
parser="/opt/TurboParser/models/english_proj/english_proj_parser_pruned-true_model-full.model"

EN-Nonprojective
splitter="tokenizers/punkt/english.pickle"
tagger="/opt/TurboParser/models/english_proj/english_proj_tagger.model"
entity_recognizer="/opt/TurboParser/ner/models/english/english_entity_recognizer.model"
parser="/opt/TurboParser/models/english/english_parser_pruned-true_model-standard.model"
semantic_parser="/opt/TurboParser/srl/models/english/english_semantic_parser_conll2008_pruned-false_model-basic_syntax-true_C-0.01_fp-0.4_fn-0.6.model"
coreference_resolver="/opt/TurboParser/coreference_resolver/models/english_ontonotes_conll2012/english_ontonotes_conll2012_coreference_resolver.model"
lemmatizer="/opt/TurboParser/models/english/english_lemmatizer.model"

#PT-BR-Universal
#splitter="tokenizers/punkt/portuguese.pickle"
#tagger="/opt/TurboParser/models/brazilian_portuguese_universal/brazilian_portuguese_universal_tagger.model"
#parser="/opt/TurboParser/models/brazilian_portuguese_universal/brazilian_portuguese_universal_parser_pruned-true_model-standard.model"
#morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_Portuguese/pt-ud_morphological_tagger.model"

EN-Universal
splitter="tokenizers/punkt/english.pickle"
tokenizer="en"
tagger="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_tagger.model"
parser="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_English/en-ud-normalized_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/en-ud-normalized/en-ud-normalized_lemmatizer.model"

PT-Universal
splitter="tokenizers/punkt/portuguese.pickle"
tokenizer="pt"
tagger="/opt/TurboParser/models/pt_v2.1.1-ud-normalized/pt_v2.1.1-ud-normalized_tagger.model"
parser="/opt/TurboParser/models/pt_v2.1.1-ud-normalized/pt_v2.1.1-ud-normalized_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_Portuguese-v2.1.1/pt_v2.1.1-ud-normalized_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/pt_v2.1.1-ud-normalized/pt_v2.1.1-ud-normalized_lemmatizer.model"

ES-Universal
splitter="tokenizers/punkt/spanish.pickle"
tokenizer="es"
tagger="/opt/TurboParser/models/es-ud-normalized/es-ud-normalized_tagger.model"
parser="/opt/TurboParser/models/es-ud-normalized/es-ud-normalized_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_Spanish/es-ud-normalized_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/es-ud-normalized/es-ud-normalized_lemmatizer.model"

FR-Universal
splitter="tokenizers/punkt/french.pickle"
tokenizer="fr"
tagger="/opt/TurboParser/models/fr-ud-normalized/fr-ud-normalized_tagger.model"
parser="/opt/TurboParser/models/fr-ud-normalized/fr-ud-normalized_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_French/fr-ud-normalized_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/fr-ud-normalized/fr-ud-normalized_lemmatizer.model"

IT-Universal
splitter="tokenizers/punkt/italian.pickle"
tokenizer="it"
tagger="/opt/TurboParser/models/it-ud-normalized/it-ud-normalized_tagger.model"
parser="/opt/TurboParser/models/it-ud-normalized/it-ud-normalized_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_Italian/it-ud-normalized_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/it-ud-normalized/it-ud-normalized_lemmatizer.model"

#DE-Universal
#splitter="tokenizers/punkt/german.pickle"
#tagger="/opt/TurboParser/models/german_universal/german_universal_tagger.model"
#parser="/opt/TurboParser/models/german_universal/german_universal_parser_pruned-true_model-standard.model"

DE-SPMRL
splitter="tokenizers/punkt/german.pickle"
tagger="/opt/TurboParser/models/german_spmrl/german_spmrl_tagger.model"
parser="/opt/TurboParser/models/german_spmrl/german_spmrl_parser_pruned-true_model-full.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/german_spmrl/german_spmrl_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/german_spmrl/german_spmrl_lemmatizer.model"

RU
splitter="tokenizers/punkt/english.pickle"
tagger="/opt/TurboParser/models/ru_syntagrus-ud-v2.3/ru_syntagrus-ud-v2.3_tagger.model"
parser="/opt/TurboParser/models/ru_syntagrus-ud-v2.3/ru_syntagrus-ud-v2.3_parser_pruned-true_model-standard.model"
morphological_tagger="/opt/TurboParser/morphological_tagger/models/UD_Russian-SynTagRus/ru_syntagrus-ud-v2.3_morphological_tagger.model"
lemmatizer="/opt/TurboParser/models/ru_syntagrus-ud-v2.3/ru_syntagrus-ud-v2.3_lemmatizer.model"
