PT
splitter="tokenizers/punkt/portuguese.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_parser_pruned-true_model-standard.model"
lemmatizer="/home/atm/workspace/CPP/TurboParser/models/portuguese_floresta_v2.0_nomwe_auto/portuguese_floresta_v2.0_nomwe_auto_lemmatizer.model"

ES
splitter="tokenizers/punkt/spanish.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_parser_pruned-true_model-standard.model"
semantic_parser="/home/atm/workspace/CPP/TurboParser/srl/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_semantic_parser_conll2008_pruned-false_model-basic_syntax-true_C-0.01_fp-0.4_fn-0.6.model"
lemmatizer="/home/atm/workspace/CPP/TurboParser/models/spanish_conll2009_v2.0_nomwe_auto/spanish_conll2009_v2.0_nomwe_auto_lemmatizer.model"

EN
splitter="tokenizers/punkt/english.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/english_proj/english_proj_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/english_proj/english_proj_parser_pruned-true_model-standard.model"

EN-Nonprojective
splitter="tokenizers/punkt/english.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/english_proj/english_proj_tagger.model"
entity_recognizer="/home/atm/workspace/CPP/TurboParser/ner/models/english/english_entity_recognizer.model"
parser="/home/atm/workspace/CPP/TurboParser/models/english/english_parser_pruned-true_model-standard.model"
semantic_parser="/home/atm/workspace/CPP/TurboParser/srl/models/english/english_semantic_parser_conll2008_pruned-false_model-basic_syntax-true_C-0.01_fp-0.4_fn-0.6.model"
lemmatizer="/home/atm/workspace/CPP/TurboParser/models/english/english_lemmatizer.model"

PT-BR-Universal
splitter="tokenizers/punkt/portuguese.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/brazilian_portuguese_universal/brazilian_portuguese_universal_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/brazilian_portuguese_universal/brazilian_portuguese_universal_parser_pruned-true_model-standard.model"

ES-Universal
splitter="tokenizers/punkt/spanish.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/spanish_universal/spanish_universal_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/spanish_universal/spanish_universal_parser_pruned-true_model-standard.model"

FR-Universal
splitter="tokenizers/punkt/french.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/french_universal/french_universal_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/french_universal/french_universal_parser_pruned-true_model-standard.model"

IT-Universal
splitter="tokenizers/punkt/italian.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/italian_universal/italian_universal_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/italian_universal/italian_universal_parser_pruned-true_model-standard.model"

DE-Universal
splitter="tokenizers/punkt/german.pickle"
tagger="/home/atm/workspace/CPP/TurboParser/models/german_universal/german_universal_tagger.model"
parser="/home/atm/workspace/CPP/TurboParser/models/german_universal/german_universal_parser_pruned-true_model-standard.model"
